{% extends 'main.html' %}

{% load static %}

{% block body %}
<div class="page">
  {% include 'blocks/header.html' %}

  <section class="section section-xl context-dark bg-vide vide-style-1" id="1" data-vide-bg="{% static 'video/video' %}" data-vide-options="posterType: jpg, position: 50% 50%">
    <div class="container">
      <h1>Meet Dravenverse</h1>
      <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, totam deserunt debitis fuga dolorem nesciunt alias eligendi.</h4>
    </div>
  </section>

  <!-- Section posts-->
  <section class="section section-xl bg-default">
    <div class="container">
      <h2 class="wow fadeInDown">Latest Articles</h2>
      <div class="row row-xl row-30 row-md-40 row-lg-60">

        {% for article in articles %}
        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".1s">
          <!-- Post Modern-->
          <article class="post post-modern box-md"><a class="post-modern-figure" href="/news/{{ article.pk }}"><img src="{{ article.image.url }}" alt="" width="370" height="270"/></a>
            <h5 class="post-modern-tag">{{ article.type }}</h5>
            <h3 class="post-modern-title"><a href="/news/{{ article.pk }}">{{ article.title }}</a></h3>
            <p class="post-modern-text">{{ article.short_intro }}</p><a class="button button-2 button-secondary-2 button-icon button-icon-left" href="/news/{{ article.pk }}"><span class="icon mdi mdi-arrow-right"></span><span>Read more</span></a>
          </article>
        </div>
        {% endfor %}

      </div><a class="button button-primary wow fadeInUp" href="{% url 'news' %}">View all News</a>
    </div>
  </section>

  {% include 'blocks/footer.html' %}
</div>

{% endblock %}